@font-face {
  font-family: "urbanist";
  src: url("../public/fonts/Urbanist/Urbanist-VariableFont_wght.ttf");
  /* src: url("../public/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf"); */
}

body {
  margin: 0px;
}

* {
  font-family: "urbanist" !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
