@font-face {
  font-family: "urbanist";
  src: url("../public/fonts/Urbanist/Urbanist-VariableFont_wght.ttf");
  /* src: url("../public/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf"); */
}

body {
  margin: 0px;
}

* {
  font-family: "urbanist" !important;
}
